.container-home {
  display: flex;
  flex-direction: column;
  height: 98vh;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

.img-logo {
  border-radius: 47%;
  box-shadow: 0 0 15px 0 rgba(96, 148, 207, 0.5);
}

.container-logo-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-evenly;
}

.barbeiro {
  background-color: #161347;
  border: 1px solid transparent;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}

.barbeiro:hover {
  border-color: #646cff;
}

.footer {
  align-items: center;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
}

@media screen and ( max-width : 600px ) {

  .container-home {
    height: 90vh;
    margin: 30px 0;

  }


}
