.container-home {
  display: flex;
  flex-direction: column;
  height: 98vh;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

.container-logo-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-evenly;
}

.barbeiro {
  background-color: #161347;
  border: 1px solid transparent;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}

.barbeiro:hover {
  border-color: #646cff;
}
