.container-home {
  display: flex;
  flex-direction: column;
  height: 98vh;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

.img-logo {
  border-radius: 47%;

  /* box-shadow: 0 0 15px 0 rgba(96, 148, 207, 0.5); */
  margin-top: 30px;
}

.container-logo-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-evenly;
}

.barbeiro {
  background-color: #161347;
  border: 1px solid transparent;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  text-decoration: none;
  transition: border-color 0.25s;
}

.barbeiro:hover {
  border-color: #646cff;
}

.footer {
  align-items: center;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
}

.link-site {
  color: white;
}

@media screen and ( max-width : 600px ) {

  .container-home {
    height: 90vh;
    margin: 30px 0;
  }
}

.menu-hamburguer {
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 1.8rem;
  justify-content: space-around;
  padding: 0;
  position: fixed;
  right: 1rem;
  width: 1.8rem;
  z-index: 10;

}

.menu {

  /* stylelint-disable-next-line max-line-length */
  background: linear-gradient(to bottom, rgb(4, 53, 133), rgb(12, 100, 158), rgb(3, 31, 77));
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  left: 0;
  padding: 2rem;
  position: fixed;
  text-align: left;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  width: 300px;
  z-index: 9;
}

.menu.active {
  transform: translateX(0);
}

.menu a {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  padding: 2rem 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s linear;

  &:hover {
    color: #080268;
  }
}
