.loading-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.loading-spinner {
  animation: spin 2s linear infinite;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db; 
  height: 50px;
  width: 50px;
}

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}
