.container-agendamentos {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 98vh;
  margin: 0 auto;
  overflow-y: auto;
  padding-top: env(safe-area-inset-top);
  scroll-behavior: smooth;
  text-align: center;
}

.section-mensagem {
  align-items: center;
  background: #290e33;
  border-radius: 23px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0;
  padding: 3px;
  width: 310px;
}

.msg-top {
  margin-top: 60px;
}

.section-name {
  background: #161347;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8px;
  width: 275px;
}

.section-mensagem-usuario {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 310px;
}

.msg-selected {
  align-items: start;
  display: flex;
  padding: 20px 0;
}

.services-selected {
  line-height: 0;
  margin: 12px;
}

.msg-bottom {
  margin-bottom: 70px;
}

.button-meus-agendamentos-contain {
  align-items: end;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 20px;
  width: 85%;
}

/* .button-meus-agendamentos-header {
  align-items: center;
  background-color: #f5f5f6;
  border-radius: 8px;
  color: black;
  display: flex;
  height: 30px;
  justify-content: center;
} */

input {
  color: #f5f5f6;
}

input::-webkit-outer-spin-button , input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-meus-agendamentos-header:hover {
  background-color: #bdb0c9;
  cursor: pointer;
}

@media screen and ( max-width : 600px ) {

  .container-agendamentos {
    height: 90vh;
  }
}
