.chart-container {

  /* stylelint-disable-next-line max-line-length */
  box-shadow: 0 -5px 15px -7px rgba(53, 188, 197, 0.4), 0 15px 5px -8px rgba(53, 188, 197, 0.4);
  height: 35vh;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 600px;
  position: relative;
  width: 100%;

}
