.container-reference {
  display: flex;
  justify-content: space-around;
  margin-bottom: -15px;
  width: 300px;
}

.container-services {
  align-items: start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 300px;
}

.label-services {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: -25px;
}

.input-services {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 8px;
}

.pigmentacao {
  margin-left: -32px;
}
